<% if user_activated? %>
    <h1> Welcome to the my Network </h1>
<% else %>
    <h3>Please verify your email to continue </h3>
    <%= link_to "Verify Email", send_otp_path, class: "btn btn-success" %>
<% end %>