.navbar{
    margin: 5px 0;
    border-radius: 30px;
    width: 100% !important;
}

.search-bar{
    margin-right: 2rem;
}
.search{
    height: 40px;
    border-radius: 50px;
    box-sizing: border-box;
}
.profile-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #5458cc !important;
    padding: 10px;
    border: 1px solid #ccc;
  }

.profile-link{
    color: black !important;
  }
.nav-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
    .ham-burger-icon {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 5px;
    }
    .navbar{
        margin: 5px 0;
        border-radius: 30px;
        width: 100% !important;
    }
    .user-dropdown{
        position: absolute;
        top: 80px;
        right: 15px;
        background-color: #5458cc !important;
    }

    .dropdown{

        padding: 10px;
        z-index: 5;
        list-style: none;
    }
}
@media screen and (max-width: 400px) {
    .search{
        width: 100px;
        padding: 0 0.2rem;
    }
}

@media screen and (max-width: 200px) {
    .search{
        width: 70px;
        padding: 0 0.2rem;
    }
}